html, body { 
	font-family: 'Droid Sans', Georgia, serif;
	font-size: 1em;
	color: #555;
	line-height: 2;
}

h1, h2, h3, h4 {
	font-family: 'Komika Axis', cursive;
	text-rendering: optimizeLegibility;

	letter-spacing: 0;
	font-size: 2em;
	line-height: 1; 
}
h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.2m; }
h4 { font-size: 1em; }

a {  }
dt {
	font-family: "Comic Sans MS", cursive;
	line-height: 1.5;
/*	letter-spacing: 0.1em;*/
	font-size: 1.2em;
}
ol, ul { margin-left: 1.4em; }
dl {
	margin-left: 0;
}
em {
	background-color: yellow;
}
strong, dt, h1, h2, h3, h4 {
	color: black;
}
a 		{ text-decoration: none; }
a:hover { text-decoration: underline; }

ul.Menu {
	margin: 0.5em 0;
	overflow: auto;
	width: 100%
}
a.FSDir,
ul.Menu li {
	float: left;
	margin-right: 1em;
	font-size: 1em;
	list-style: none;
}
a.FSDir,
ul.Menu li a {
	font-family: "Comic Sans MS", cursive;
}

code {
	display: block;
	padding: 1em;
	background-color: #eee;
	border: 1px dashed grey;
}
p code { display: inline;}
